*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app-header{
    margin-bottom: 1rem;
    .navbar{
        padding: 1rem 0;
        h1{
            font-size: 1.5rem;
        }
    }
}


